<a href="https://colab.research.google.com/github/Anandharajan/DriverBehaviour/blob/master/autism.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [0]:
df = pd.read_csv("https://raw.githubusercontent.com/Anandharajan/DriverBehaviour/master/autism.csv",sep = ",")

In [26]:
df.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,autism,contry_of_res,result,relation,asd
0,1,1,0,0,1,1,0,1,0,0,6,m,Others,no,no,Jordan,5,Parent,NO
1,1,1,0,0,1,1,0,1,0,0,6,m,Middle Eastern ',no,no,Jordan,5,Parent,NO
2,1,1,0,0,0,1,1,1,0,0,6,m,?,no,no,Jordan,5,?,NO
3,0,1,0,0,1,1,0,0,0,1,5,f,?,yes,no,Jordan,4,?,NO
4,1,1,1,1,1,1,1,1,1,1,5,m,Others,yes,no,United States',10,Parent,YES

In [27]:
df.autism.value_counts()

no     243
yes     49
Name: autism, dtype: int64

In [0]:
df['autism'] = df['autism'].apply(lambda x: 0 if x=='no' else 1)

In [0]:
df['asd'] = df['asd'].apply(lambda x: 0 if x=='NO' else 1)

In [30]:
countNoAutism = len(df[df.autism == 0])
countHaveAutism = len(df[df.autism == 1])
print("Percentage of Patients Haven't Autism: {:.2f}%".format((countNoAutism / (len(df.autism))*100)))
print("Percentage of Patients Have Autism: {:.2f}%".format((countHaveAutism / (len(df.autism))*100)))

Percentage of Patients Haven't Autism: 83.22%
Percentage of Patients Have Autism: 16.78%

In [31]:
countNoASD = len(df[df.asd == 0])
countHaveASD = len(df[df.asd == 1])
print("Percentage of Patients Haven't ASD: {:.2f}%".format((countNoASD / (len(df.asd))*100)))
print("Percentage of Patients Have ASD: {:.2f}%".format((countHaveASD / (len(df.asd))*100)))

Percentage of Patients Haven't ASD: 51.71%
Percentage of Patients Have ASD: 48.29%